
/build/
/out/
/cmake-build*/

.vs/
.vscode/
.idea/
*.swp
*.swo
CMakeSettings.json


*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.lib
*.a
*.pdb

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln


/extern/*/
/_deps/


.DS_Store
Thumbs.db


*.log
*.sqlite
*.db


*.dSYM/
*.su
*.idb
*.pdb



/imgui.ini  
/examples/


mitmqtt_ca.crt
mitmqtt_ca.key
*.crt
*.key
*.pem

mitmqtt_capture.log
*_capture.log



*.log